.about {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #FFF;
    color: #711A79;
    clip-path: polygon(0 80px,
            80px 0,
            calc(100% - 80px) 0,
            100% 80px,
            100% calc(100% - 80px),
            calc(100% - 80px) 100%,
            80px 100%,
            0 calc(100% - 80px));
    margin-top: -5vw;
    z-index: 2;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 6vw 4vw;

    .about-heading {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2vw;

        p {
            border: 2px solid #711A79;
            padding: 15px 20px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
        }

        h1 {
            position: relative;
            font-family: Moliga;
            font-weight: 500;
            line-height: 0.7;
            font-size: 7vw;
            text-align: center;

            span {
                position: absolute;
                top: 40%;
                right: -25%;
                font-size: 15px;
                background-color: #FFF;
                border-radius: 14px;
                padding: 10px 15px;
                border: 1px solid #711A79;
                display: flex;
                align-items: center;
                gap: 10px;
                transform: rotate(10deg);
                box-shadow: 4px 3px 0 #711A79;

                .green-dot {
                    height: 7px;
                    width: 7px;
                    border-radius: 50%;
                    background-color: #61D63A;
                }
            }
        }
    }

    .about-cards {
        height: fit-content;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 40px;
        margin-top: 4vw;

        .card1,
        .card2 {
            position: relative;
            height: 55vw;
            width: 50%;
            background-color: #FFD8D7;
            color: #3F3F3F;
            border-radius: 20px;
            padding: 6vw 3vw 3vw 3vw;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

            .tag {
                position: absolute;
                right: 0;
                top: 0;
                background-color: #F5BAB8;
                color: #852A28;
                padding: 10px 20px;
                border-bottom-left-radius: 20px;

                p {
                    font-size: 15px;
                    font-weight: 500;
                }
            }

            .card-inner {
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 2vw;
                z-index: 3;

                .card-title {
                    display: flex;
                    flex-direction: column;

                    h5 {
                        font-family: Moliga;
                        font-weight: 500;
                        font-size: 3vw;
                        color: #DC8E8B;
                        line-height: 0.7;
                    }

                    div {
                        display: flex;
                        align-items: center;

                        h4 {
                            font-family: Moliga;
                            font-weight: 500;
                            display: flex;
                            align-items: center;
                            font-size: 5vw;
                            line-height: 0.7;
                            color: #711A79;

                            &:nth-child(2) {
                                font-family: Instink;
                                color: #003D8E;
                                margin-top: -20px;
                                font-size: 7vw;
                            }
                        }
                    }
                }

                >p {
                    font-size: 1vw;
                    width: 90%;
                    font-weight: 500;
                }

                .about-features {
                    display: flex;
                    flex-direction: column;

                    h5 {
                        font-size: 1.15vw;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                    }

                    ul {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        list-style: none;
                        font-size: 0.9vw;
                        width: 50%;
                        font-weight: 500;
                        line-height: 1.5;
                    }
                }
            }

            .batches {
                position: relative;
                display: flex;
                flex-direction: column;
                z-index: 3;

                >p {
                    padding: 8px 20px;
                    background-color: #711A79;
                    color: #FFF;
                    width: fit-content;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }

                .batches-box1 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background-color: #FFF;
                    padding: 20px;
                    border-top-right-radius: 10px;

                    .box1-inner {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        h5 {
                            background-color: #FFE6E5;
                            padding: 10px;
                            border-radius: 10px;
                        }
                    }

                    h4 {
                        font-size: 1.05vw;
                        color: #711A79;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        i {
                            font-size: 1.2vw;
                            font-weight: lighter;
                        }
                    }
                }

                .batches-box2 {
                    padding: 10px 20px;
                    background-color: #FFF;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-top: 1px solid #E4E4E4;

                    p {
                        font-size: 1vw;
                        display: flex;
                        align-items: center;
                        gap: 5px;

                        img {
                            width: 60px;
                        }
                    }
                }
            }

            .card-bg {
                position: absolute;
                bottom: 0;
                right: 0;
                width: 35vw;
                z-index: 1;
            }

            .card-hero {
                position: absolute;
                bottom: 0;
                right: 5%;
                width: 25vw;
                z-index: 2;
            }
        }

        .card2 {
            background-color: #FFD7FA;

            .tag {
                background-color: #EFB4E7;
                color: #711A79;
            }

            .card-inner {
                .card-title {
                    h5 {
                        color: #C870BC;
                    }

                    div {
                        h4 {
                            &:nth-child(2) {
                                margin-top: -40px;
                                margin-left: 10px;
                            }
                        }
                    }
                }

                .about-features {
                    h5 {
                        margin-bottom: 20px;
                    }

                    ul {
                        list-style: disc;
                        padding-left: 20px;
                    }
                }
            }

            .card-hero2 {
                position: absolute;
                bottom: 10%;
                right: 0;
                z-index: 2;
                width: 30vw;
            }

            .card-bg {
                width: 30vw;
            }
        }
    }
}