.faq {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #F4E2FD;
    color: #711A79;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6vw;

    .faq-content {
        position: relative;
        height: fit-content;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 2;

        .faq-left {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 4vw;

            h1 {
                font-family: Moliga;
                font-size: 6vw;
                font-weight: 500;
            }

            .faq-left-inner {
                display: flex;
                flex-direction: column;
                gap: 10px;

                h4 {
                    font-size: 1.1vw;
                }

                p {
                    font-size: 1vw;
                    color: #222;
                    width: 45%;
                }
            }
        }

        .faq-right {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 2vw;

            .faq-box {
                width: 100%;
                height: 20%;
                background-color: #FFF;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1.2vw 2vw;
                border-radius: 20px;
                box-shadow: 4px 3px 0 #711A79;

                .faq-box-inner {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        color: #222;
                        font-size: 1vw;
                    }

                    .faq-answer {
                        max-height: 0;
                        overflow: hidden;
                        opacity: 0;
                        transition: 0.3s ease-in-out;
                    }

                    .faq-answer.open {
                        max-height: 200px;
                        opacity: 1;
                        margin-top: 0.5vw;
                    }

                    .faq-answer p {
                        font-size: 0.9vw;
                        color: #222;
                    }
                }

                i {
                    font-weight: bold;
                    cursor: pointer;
                }
            }
        }
    }

    >img {
        width: 46%;
        position: absolute;
        left: 0;
    }
}