.features {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #FFF;
    color: #711A79;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 6vw 4vw;

    .features-heading {
        display: flex;
        flex-direction: column;
        gap: 4vw;

        p {
            border: 2px solid #711A79;
            padding: 15px 20px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
            width: fit-content;
        }

        h1 {
            position: relative;
            font-family: Moliga;
            font-weight: 500;
            line-height: 0.7;
            font-size: 7vw;
        }
    }

    .features-content {
        width: 95%;
        height: fit-content;
        margin-top: 4vw;
        display: flex;
        gap: 1vw;
        clip-path: polygon(0 45px,
                55px 0,
                calc(100% - 45px) 0,
                100% 45px,
                100% calc(100% - 45px),
                calc(100% - 45px) 100%,
                45px 100%,
                0 calc(100% - 45px));

        .features-inner {
            height: 100%;
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 1vw;

            .elem {
                position: relative;
                width: 100%;
                height: 50%;
                background-color: #F0D4FF;
                padding: 2vw;
                display: flex;
                flex-direction: column;

                img {
                    width: 6vw;
                    align-self: flex-end;
                }

                .box {
                    display: flex;
                    flex-direction: column;

                    h4 {
                        font-family: Moliga;
                        font-weight: 500;
                        font-size: 4vw;
                        margin-bottom: 1vw;
                    }

                    p {
                        font-size: 1.05vw;
                        font-weight: 500;
                        color: #252525;
                        width: 60%;
                    }
                }
            }
        }
    }
}