nav {
    height: 70px;
    width: 90%;
    position: fixed;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFF;
    color: #711A79;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 10;

    .nav1 {
        display: flex;
        align-items: center;
        gap: 60px;

        h1 {
            font-size: 45px;
            font-family: Moliga;
            font-weight: 500;
        }

        .nav1-inner {
            display: flex;
            align-items: center;
            gap: 40px;
            color: #2E2E2E;
            
            h4 {
                font-size: 16px;

                &:nth-child(2) {
                    background-color: #E9EDF6;
                    color: #711A79;
                    padding: 10px 20px;
                    border-radius: 5px;
                }
            }
        }
    }

    button {
        background-color: #711A79;
        color: #FFF;
        font-size: 16px;
        padding: 15px 20px;
        border-radius: 20px;
        border: none;
        display: flex;
        align-items: center;
        gap: 20px;

        img {
            width: 20px;
        }
    }
}