.testimonials {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background-color: #EECEFF;
    color: #711A79;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 6vw 0 6vw 4vw;

    .testimonials-heading {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 3vw;

        p {
            background-color: #FFF;
            color: #222;
            padding: 15px 20px;
            border-radius: 50px;
            font-size: 16px;
            font-weight: bold;
            width: fit-content;
        }

        .heading {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding-right: 4vw;

            h1 {
                position: relative;
                font-family: Moliga;
                font-weight: 500;
                line-height: 0.7;
                font-size: 6vw;
            }

            .nav-btns {
                display: flex;
                gap: 0.6vw;

                button {
                    padding: 1.1vw;
                    background-color: #711A79;
                    color: #FFF;
                    border: none;
                    border-radius: 50%;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-shadow: 3px 3px 0 #C9A7DB;

                    img {
                        width: 1.2vw;
                    }
                }
            }
        }

    }

    .testimonials-content {
        height: 60vh;
        width: 100%;
        margin-top: 4vw;
        display: flex;
        align-items: center;
        gap: 4vw;
        overflow-x: auto;

        &::-webkit-scrollbar {
            display: none;
        }

        .testimonial-card {
            position: relative;
            height: 100%;
            width: 22%;
            background-color: #FFF;
            padding: 0.5vw;
            border-radius: 10px;
            flex-shrink: 0;

            .test-card-inner {
                position: relative;
                height: 100%;
                width: 100%;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                }

                .overlay {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    left: 0;
                    padding: 2vw;
                    display: flex;
                    justify-content: flex-end;
                    flex-direction: column;
                    color: #FFF;
                    box-shadow: inset 0px -100px 30px rgba(0, 0, 0, 0.35);

                    h4 {
                        font-size: 1vw;
                    }

                    p {
                        font-size: 0.9vw;
                    }
                }
            }
        }
    }
}