@font-face {
  font-family: Satoshi;
  src: url(/fonts/Satoshi.ttf);
}

@font-face {
  font-family: Instink;
  src: url(/fonts/Instink.ttf);
}

@font-face {
  font-family: Moliga;
  src: url(/fonts/Moliga.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}